@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**
 * WOBLOG CSS
 *
 * @author Tetsuwo OISHI
 */

body {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS UI Gothic', 'Lucida Grande', sans-serif;
    color: #333;
}

/* SCROLLBAR article > * */
article ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
article ::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #031217;
    border-radius: 10px;
}
article ::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #031217;
    border-radius: 10px;
}

a, a:link { color: #36b; text-decoration: none; font-weight: bold; }
a:hover { text-decoration: underline; }
hr { border-width: 1px 0px 0px 0px; border-style: dotted; border-color: #666; height: 1px; margin: 1em 0; }
ul { list-style-position: inside; }
ol { list-style-position: inside; }

/* CLEARFIX */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix{ display: inline-block; min-height: 1%; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* TABLE */
table {
    margin-bottom: 1.5em;
    background-color: #ccc;
    border-collapse: separate;
    border-spacing: 1px;
}
th, td {
    white-space: normal!important;
    word-break: break-all!important;
    word-wrap: break-word!important;
    padding: .4em;
    background-color: #fff;
    text-align: left;
}
th { background-color: #eee; }
table .l { text-align: left; }
table .c { text-align: center; }
table .r { text-align: right; }
table .b { font-weight: bold; }
table .n { white-space: nowrap!important; }
table .s { font-size: 80%; }

/* FLOAT */
.fr { float: right; }
.fl { float: left; }

/* FIXED */
.hide    { display: none; }
.show    { display: block; }
.fixmb { margin-bottom: 1em; }

/* FORM RESET */
input, textarea, button, select { padding: 3px 4px; margin: 0; border: none; }
input, textarea {
    background-color: #fff;
    display: inline-block;
    font-size: inherit;
    color: #555;
    border: 1px solid #999;
    -webkit-box-shadow: inset 0px 0px 4px rgba( 0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 4px rgba( 0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 4px rgba( 0, 0, 0, 0.3);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: .5em;
}
input:hover, textarea:hover { background-color: #eee; outline: none; }

/* LAYOUT */
.fixed-width {
    margin: 0 auto auto;
    padding: 0 3em;
    position: relative;
}
#header, #pagebody, .footer-menu {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 980px; /* 840 */
}

/* HEADER */
#header {
    margin-bottom: 3em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#header hgroup { 
    margin: 0; 
    padding: 0; 
    text-align: center; 
    float: left; 
}

#header h1 {
    margin: 0; 
    padding: 0; 
}

#header h1 a {
    margin: 0; 
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 0 0 5px 5px;
    background-color: #11313D;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
    -webkit-box-shadow: 0 0 1em rgba( 0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 1em rgba( 0, 0, 0, 0.4);
    box-shadow: 0 0 1em rgba( 0, 0, 0, 0.4);
}
#header h1 a:hover { background-color: #144052; }
#header h1 a small { padding-top: 3px; font-size: 90%; display: block; }
#header .search { margin-top: 20px; float: right; }

/* PAGEBODY */
#pagebody { margin-bottom: 5em; }

/* sider */
#sider { 
    float: right;
    width: 200px;
}
#sider a {
    font-weight: normal;
}
.sider-title {
    font-weight: bold;
    color: #aaa;
    margin-bottom: .25em;
}
.sider-group { 
    margin-bottom: .75em;
}
#tags { 
    font-size: 90%;
}

/* MENU */
#menu { 
    background-color: #666; 
    padding: 8px 10px; 
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2em rgba(0, 0, 0, 0.4); 
    -moz-box-shadow: 0 0 2em rgba(0, 0, 0, 0.4); 
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.4);
}
#menu, #menu a { color: #fff; line-height: 1.8em; }
#menu a:hover { color: #8c0; }
#menu .fixmb { margin-bottom: 1.5em; }
#menu h1 { margin-bottom: .5em; border-bottom: 1px dotted #bbb; color: #bbb; }

/* MAIN */
#main { 
    float: left;
    width: 728px;
    text-shadow: none; 
}

/* FOOTER */
#footer {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    color: #fff;
    clear: both;
    text-align: left;
    padding: 30px 0;
    position: relative;
    background-color: #11313D;
}
#footer, #footer a { font-size: 11px; font-weight: bold; line-height: 1.5; color: #fff; text-decoration: none; }
#footer a:hover { color: #ccc; }
#footer h3 { margin: .5em 0 .3em; font-size: 130%; }
/* -- footer pagetop -- */
#footer .pagetop { position: absolute; top: -50px; right: 3em; }
#footer .pagetop a {
    border-radius: 4px 4px 0 0; 
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0; 
    display: block; 
    width: 80px; 
    height: 20px;
    line-height: 20px; 
    background-color: #11313D; 
    text-align: center;
    font-family: 'Arial', sans-serif; font-weight: bold; text-decoration: none; 
}
/* -- footer head/foot -- */
#footer .head { margin-bottom: 3em; }
#footer .foot { margin-bottom: 3em; }
/* -- footer nav -- */
#footer nav { display: block; width: 270px; float: left; margin-right: 30px; }
#footer nav:first-child { width: 180px; }
#footer nav:last-child { margin-right: 0; }
#footer nav ul li { display: block; padding: 4px 0; border-top: 1px dotted #616161; }
/* -- footer bottom -- */
#footer .copyright { font-family: Arial; text-align: center; }

/* -- code -- */
code {
    background: #f0f6fc;
    border: 1px solid #d2dce6;
    color: #444;
    font-family: Monaco, monospace;
    font-size: 85%;
    padding: .1em .3em;
    border-radius: .3em;
}

/* -- pre -- */
pre {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    font-size: 85%!important;
    text-align: left;
    line-height: 1.4;
    padding: 1em;
    margin: 1em 0 1.5em;
    background-color: #11313D;
    color: #d1d1d1;
    font-family: 'Menlo', 'M+2VM+IPAG circle', 'Osaka-Mono', 'ＭＳ ゴシック', 'MS Gothic', 'VL Gothic', monospace;
    border-radius: .5em;
    box-shadow: inset 1px 1px .5em rgba(0, 0, 0, .3);
    overflow: auto;
}
pre a, pre a:visited, pre a:hover {
    color: inherit!important;
    font-weight: inherit!important;
}
    pre code {
        background: transparent;
        border: none;
        padding: 0;
        color: inherit;
        white-space: inherit;
        font-size: inherit;
        border-radius: none;
    }

/* -- blockquote -- */
blockquote {
    border-left: 5px solid #dfdfdf;
    padding: .5em .75em;
    margin: 1em 1em 1.5em;
    font-size: 90%;
}
blockquote:before, blockquote:after {
    /*content: '';*/
    content: none !important;
}
    blockquote p {
        padding: 0 !important;
    }
    blockquote pre {
        text-shadow: none;
        background-color: #eee;
        color: #333;
        margin-bottom: 0;
    }

/* -- note -- */
ol.notes {
    margin: 2em 0;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    font-size: 80%;
}
    ol.notes li {
        padding: 1em;
        border-bottom: 1px dotted #eee;
    }
        ol.notes li img {
            vertical-align: middle;
        }

/* -- DISQUS -- */
#disqus_thread { padding: 0 .5em; }

/*#tumblr_controls { display: none; }*/


/* POST */
.post { margin-bottom: 2em; }
.post-head { margin-bottom: 1.5em; font-size: 80%; }
article.permalink .post-head { margin-bottom: 2em; }
.post-head h1 { font-size: 155%; line-height: 1.5em; }
.post-head a { color: #333; }
.post-head a:hover { color: #999; text-decoration: none; }
.post-head .ads { margin-top: 2em; }
.ads-sponsored-link { color: #aaa; }

/* -- post-body -- */
.post-body { text-shadow: none; margin-bottom: 2em; }
article.permalink .post-body { margin-bottom: 2em; }
.readmore { margin-bottom: .5em; text-align: right; }
.post-body b,
.post-body em,
.post-body strong { font-weight: bold; }
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6 { font-weight: bold; margin: 1.75em 0 .5em; }
.post-body h2 { font-size: 115%; border-bottom: 1px solid #ddd; padding: .25em 0; margin-bottom: 1em; }
.post-body h3 { font-size: 105%; border-bottom: 1px dotted #ddd; padding: .25em 0; margin-bottom: 1em; }
.post-body h4 { font-size: 100%; }
.post-body h5 { font-size:  95%; }
.post-body h6 { font-size:  85%; }
.post-body p { margin: .5em 0 1em; }
.post-body img { padding: .5em; border: 1px solid #ddd; }
.post-body > p + img,
.post-body > p + blockquote,
.post-body > p + pre { margin-top: -1em; }

.post-body ol,
.post-body ul {
    margin: .5em 2em 2em;
    list-style: disc outside;
}
.post-body ol {
    list-style: decimal outside;
}
.post-body ol ol,
.post-body ul ul {
    margin-bottom: .5em;
}
    .post-body ul li {
    }
        .post-body ul li img {
            vertical-align: middle;
        }

/* -- post-foot -- */
.post-foot {
    font-size: 80%;
    color: #777;
    margin: 1em 0;
}
    .post-foot .ads { margin-bottom: 2em; }
    .post .tags {
        float :left;
    }
        .post .tags a {
            float :left;
            text-shadow: none;
            background-color: #eee;
            border: 1px solid #ccc;
            padding: .2em .5em;
            margin-right: .5em;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px; color: #999;
            font-weight: normal;
            text-decoration: none;
            display: inline-block;
            *display: inline;
            *zoom: 1;
        }
        .post .tags a:hover {
            border: 1px solid #919191;
            text-decoration: none;
        }
    .post .notes,
    .post time,
    .post .source {
        margin-left: 1em;
        line-height: 21px;
        float: right;
    }

/* -- social plugin -- */
.post-social-plugin {
    margin: 1em 0;
    padding: .5em 0;
    vertical-align: middle;
}
    .post-head .post-social-plugin {
    }

    .post-foot .post-social-plugin {
        border-bottom: 1px dotted #eee;
    }

/* iPhone 3G/3GS CSS */
@media only screen and (max-width: 940px) {
    html { -webkit-text-size-adjust: none; }
    #header, #pagebody { width: auto; max-width: auto; }
    #main, #menu, #sider { width: auto; float: none; }
}

/* iPhone 3G/3GS CSS */
@media only screen and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 1) {
    html { -webkit-text-size-adjust: none; }
    #header, #pagebody { width: auto; max-width: auto; }
    #main, #menu, #sider { width: auto; float: none; }
}

/* iPhone 4 CSS */
@media only screen and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) {
    html { -webkit-text-size-adjust: none; }
    #header, #pagebody { width: auto; max-width: auto; }
    #main, #menu, #sider { width: auto; float: none; }
}
