---
layout: main
---


<article class="post post-text clearfix">
    <header class="post-head clearfix">
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>

        <div class="clearfix" style="margin-top:10px;">
            <p class="tags">
                {% for tag in page.tags %}
                <a href="/tag/{{ tag }}">{{ tag }}</a>
                {% endfor %}
            </p>
            <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%Y.%m.%d' }}</time>
        </div>
        <!--
        <aside class="ads">
            <p class="ads-sponsored-link">スポンサーリンク</p>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            をぶろぐ_本文ヘッダー（レスポンシブ）#1
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1182643073398882"
                 data-ad-slot="3862697447"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </aside>
        -->
    </header>
    
    <div class="post-body clearfix">{{ content }}</div>
    
    <div class="post-social-plugin clearfix">
        <div class="addthis_inline_share_toolbox"></div>
    </div>

    <footer class="post-foot clearfix">
        <!--
        <aside class="ads">
            <p class="ads-sponsored-link">スポンサーリンク</p>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            をぶろぐ_本文フッター#2
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1182643073398882"
                 data-ad-slot="5266765323"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </aside>
        -->
        <div class="clearfix">
            <p class="tags">
                {% for tag in page.tags %}
                <a href="/tag/{{ tag }}">{{ tag }}</a>
                {% endfor %}
            </p>
            <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%Y.%m.%d' }}</time>
        </div>

        <div class="addthis_relatedposts_inline"></div>
    </footer>
</article>
