---
layout: main
---


<article class="post post-text clearfix">
    <header class="post-head clearfix">
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    </header>
    
    <div class="post-body clearfix">{{ content }}</div>
    
    <footer class="post-foot clearfix">
        <div class="clearfix">
            <p class="tags">
                {% for tag in page.tags %}
                <a href="/tag/{{ tag }}">{{ tag }}</a>
                {% endfor %}
            </p>
            <time datetime=" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%Y.%m.%d' }}</time>
        </div>
        
        <div class="post-social-plugin clearfix">
        </div>
    </footer>
</article>
